.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.header{
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
/* .logo{
    align-items: space-between;
    flex-direction: row;
    justify-content: space-evenly;
} */
.menubar{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    justify-content: space-evenly;
    height: 30px;
}
.image{
    flex-basis: 100%;
}
.btn{
    border: none;
    background: none;
    padding: 0px;
}
#jobbtn{
    background-color: green;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}
#heading{
    margin-left: 60px;
}
